asgiref
asn1crypto
cachetools
certifi
cffi
chardet
charset-normalizer
Click
colorama
cryptography
defusedxml
Django
django-appconf
django-cors-headers
django-cryptography
django-filter
django-storages
djangorestframework
docopt
Flask
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-resumable-media
googleapis-common-protos
gunicorn
httpie
idna
importlib-metadata
itsdangerous
Jinja2
joblib
Markdown
markdown-it-py
MarkupSafe
mdurl
multidict
numpy
pipreqs
protobuf
pyasn1
pyasn1-modules
pycparser
pygame
Pygments
PyJWT
pyodps
PySocks
pytz
PyYAML
requests
requests-toolbelt
rich
rsa
scikit-learn
scipy
shapely
six
sqlparse
threadpoolctl
typing_extensions
tzlocal
uritemplate
urllib3
Werkzeug
yarg
zipp
django_rest_auth
django_allauth
psycopg2
icalendar
